/* src/styles/custom-font.css */
@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* InterTight Font */
@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}